
/*
========================================================================================
  Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
includeConfig 'conf/base.config'

params {
    // Boilerplate options
    outdir                     = './results'
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    
    // Max requirements
    max_memory                 = '128.GB'
    max_cpus                   = 8
    max_time                   = '240.h'

} 

profiles {
    secure_lustre {
        process.executor = 'local'
        max_cpus = 8
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        }
        process {
        withName: CRISPR_LIBRARY_MATCHING { 
            container = 'gitlab-registry.internal.sanger.ac.uk/casm/crispr/crispr-lib-matching:0.14.0'
            }
        }
    }
    farm22 {
        process.executor = 'lsf'
        docker {
        enabled = false
        }
        singularity {
            enabled    = true
            autoMounts = true
            cacheDir = '/lustre/scratch125/casm/team113da/singularity_cache/dermatlas'
            registry = 'gitlab-registry.internal.sanger.ac.uk'
            username = System.getenv('SINGULARITY_DOCKER_USERNAME')
            password = System.getenv('SINGULARITY_DOCKER_PASSWORD')
            }

        executor {
            name = 'lsf'
            perJobMemLimit = true
            poolSize = 4
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }
    process {
        withName: CRISPR_LIBRARY_MATCHING { 
            module = '/software/CASM/modules/modulefiles/luca/0.14.0'}
            }
}
}


manifest {
    name            = 'crispr_matching_pipeline'
    author          = 'Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/team113sanger/team113_crispr/toy-crispr-pipeline'
    description     = 'CRISPR mathching pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.01.0'
    version         = '0.0.1'
    defaultBranch   = 'develop'
}

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
