
/*
========================================================================================
  Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {
    // Boilerplate options
    outdir                     = './results'
} 

profiles {
    secure_lustre {
        process.executor = 'local'
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        }
        process {
        withName: CRISPR_LIBRARY_MATCHING { 
            container = 'crisprlibmatching:latest'
            }
        }
    }
    farm22 {
        process.executor = 'lsf'
        executor {
            name = 'lsf'
            perJobMemLimit = true
            poolSize = 4
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }
    process {
        withName: CRISPR_LIBRARY_MATCHING { 
            module = '/software/CASM/modules/modulefiles/crispr-lib-matching/0.11.0'}
            }
}
}


manifest {
    name            = 'toy_crispr_matching_pipeline'
    author          = 'Jamie Billington'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/team113sanger/team113_crispr/toy-crispr-pipeline'
    description     = 'Toy Crispr mathching pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.01.0'
    version         = '0.0.0'
    defaultBranch   = 'develop'
}
