/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

includeConfig '../conf/base.config'

profiles {
    secure_lustre {
    params{
         max_cpus = 8
         max_time = '24h'
         max_memory = 30
    }
    process.executor = 'local'
        docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
        }
        process {
        withName: LUCA_COUNT { 
            container = 'gitlab-registry.internal.sanger.ac.uk/casm/crispr/crispr-lib-matching:0.14.0'
            cpus = 4
            }
        }
    }
}
