process {
    withName: LUCA_COUNT {
        cpus = { check_max(params.luca_cpus as int, 'cpus') }
        memory = { check_max(20.GB, 'memory') }
        ext.when = params.run_luca_count
    }

    withName: AGGREGATE_COUNTS {
        cpus = { check_max(1, 'cpus') }
        memory = { check_max(2.GB, 'memory') }
        ext.when = params.run_aggregate_counts
    }
}
